<!DOCTYPE html>
<html>

<head>
    <title>soccer scraping app</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300">
    <link rel="stylesheet"
        href="https://fonts.google.com/specimen/Agbalumo?preview.text=Long%20Term%20Car%20Rentals%0A">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Cormorant+Garamond:wght@300&family=Dancing+Script:wght@700&family=Gothic+A1:wght@900&family=Gruppo&family=Inter:wght@900&family=Lato:ital,wght@0,400;1,900&family=Montserrat:wght@100;200;400;700&family=Poppins:ital@1&family=Roboto:wght@900&display=swap"
        rel="stylesheet">
    <link rel="icon" href="/G.png" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<style>
    :root {
        background: transparent;
        /* color: #333; */
        font: 1.5rem "PT Sans", sans-serif;
        --select-border: #777;
        --select-focus: blue;
        --select-arrow: var(--select-border);
    }
    
    html,
    body {
        height: 100%;
        /* min-height: 100vh; */
        display: grid;
        place-content: center;
        grid-gap: 0.5rem;
        font-family: "Baloo 2", sans-serif;
        /* padding: 1rem; */
    }

    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .uppercase {
        text-transform: uppercase;
    }

    .btn {
        display: inline-block;
        background: transparent;
        color: inherit;
        font: inherit;
        border: 0;
        outline: 0;
        padding: 0;
        transition: all 200ms ease-in;
        cursor: pointer;
    }

    .btn--primary {
        background: #26aaf3;
        /* color: #fff; */
        /* box-shadow: 0 0 10px 0 rgba(0,0,0,0.45) inset; */
        padding: 10px 16px;
        border-radius: 37px;
        position: absolute;
        margin-top: 6px;
    }

    .btn--primary:hover {
        background: #2091ce;
    }

    .btn--primary:active {
        background: #2091ce;
        box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }

    .btn--inside {
        margin-left: -113px;
    }

    .download_btn {
        margin-top: 20px;
        padding: 10px 30px;
        border-radius: 30px;
        border: none;
        visibility: hidden;
    }

    #titleText {
        margin: 40px auto;
        font-family: 'Ubuntu', sans-serif;
        font-size: 70px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        letter-spacing: 5px;
        text-shadow: 3px 0px 7px rgba(53, 53, 53, 0.897), -3px 0px 7px rgba(66, 66, 66, 0.8), 0px 4px 7px rgba(66, 66, 66, 0.8);
        padding-bottom: 50px;
    }

    .imgurl {
        background-image: url('background.jpg');
        background-size: cover;
        background-position: center;
    }
    
    .form__field {
        width: 500px;
        background: #fff;
        color: #5e5d5d;
        font: inherit;
        /* box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.5); */
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
        border: 0;
        border-radius: 50px;
        outline: 0;
        padding: 12px 36px;
        font-size: 30px;
        font-weight: 100;
        position: relative;
    }
</style>

<body class="imgurl">
    <div class="container">
        <h1 id="titleText" style="font-size: 70px; font-weight: bold;">Soccer Scraping</h1>
        <div class="container__item">
            <button type="button" class="btn btn--primary btn--inside uppercase" style="font-family: Roboto; font-weight: 900; color: white; border: 5px solid white;" onclick="getMatchlist()">Get Match List</button>
        </div>
        
        <a id="listdown" href="/matches.csv">
            <button id="list_download" class="button-17 download_btn" role="button">Download</button>
        </a>
        
        <div class="container__item" style="margin-top: 100px;">
            <form class="form" id="myForm">
                <input type="text" id="submitData" name="name" class="form__field"
                    placeholder="Input team name" style="font-family: Roboto;" />
                <!-- <button type="submit" class="btn btn--primary btn--inside uppercase">Start</button> -->
                <button type="button" id="startButton" class="btn btn--primary btn--inside uppercase"
                    style="font-family: Roboto; font-weight: 900; color: white;"
                    onclick="scrapeFunction()">Start</button>
            </form>
        </div>
        <h1 id="statusText" style="font-family: Gruppo; font-weight: lighter; font-size: 40px;"></h1>

        <a id="scrapdown" href="/scraped.csv">
            <button id="result_download" class="button-17 download_btn" role="button">Result Download</button>
        </a>
    </div>


</body>
<script>
    // let percentageInterval = null;
    // let count = 0;
    // let name = "";
    let teamName = "";
    let scrapeResultName = "result.csv";
    // let startFileName = "";
    let getMatchFlag = 0;

    function getMatchlist() {
        document.getElementById("list_download").style.visibility = "hidden";

        console.log("getmatchlist button clicked");
        axios.post('/getmatchlist')
            .then(response => {
                document.getElementById("list_download").style.visibility = "visible";
            })
            .catch(error => {
                // Handle any errors
                console.error("button click error >>> ", error);
            });
    };

    function scrapeFunction() {
        teamName = document.getElementById('submitData').value;
        // document.getElementById('startButton').disabled = true;
        // document.getElementById('startButton').style.cursor = "not-allowed";
        try {
            deleteFileFuction(teamName);
        } catch (error) {

        }
        
        submitFunction();
            
    };

    const deleteFileFuction = () => {
        const data = { 'deletefileName': scrapeResultName };
        axios.post('/delete-file', data, {
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(res => {
                console.log("file deleted!!!");
            })
    }

    const submitFunction = (teamName) => {

        if (teamName) {
            const data = { 'data': teamName };

            document.getElementById("statusText").innerHTML = "Scraping now for " + teamName;

            axios.post('/submit', data, {
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    // Handle the response data
                    // console.log(response.data);
                    // document.getElementById("statusText").innerHTML = "scraping now . . .";
                })
                .catch(error => {
                    // Handle any errors
                    console.error(error);
                });
        }

    };
    // const downloadFuction = () => {
        // const fileName = "Avis"+document.getElementById('submitData').value+".csv";

    //     window.location.href = "/";
    //     window.location.href = `/${startFileName}`;
    //     document.getElementById("download").style.visibility = "hidden";

    // }

</script>

</html>